*{
  font-family: 'Montserrat', sans-serif;
  color:rgb(40,127,62);
  background-color:white;
  text-decoration: none;
  margin:0;
  padding:0;

}

input{
  padding:0 0.3rem;
}
button{
  padding:0 0.3rem;
}
.linegraph{
  pointer-events: none;
}
.linegraph2{
  pointer-events: none;
}
.linegraph3{
  pointer-events: none;
}


.wrapper {
  max-width:1000px;
  margin: 0 auto;
}
.caloriesInput{
  margin-right: 1rem;
  margin-top:1rem;
  align-items: left;
  display: flex;
  flex-direction: column;
}
.workOutDateButton{
  color:blue;
  padding:0 0.3rem;
}
.material-icons.md-60{
  font-size:60px;
}
#navBarContainer{
  display:flex;
  justify-content: space-evenly;
}
#navBarText{
  text-align: center;
}

#workOutPartsDropDown{
  width: 200px;
  height: 40px;
}
#homeWorkOutPartsDropDown{
  padding-top: 2rem;
  text-align: center;
}
#workOutGraphPlace{
  padding-top: 1rem;
  text-align: center;
}
#workOutGraph{
  border:1px solid black;
  width: 250px;
}
#homeWeightGraphPlace{
  text-align: center;
  padding-top: 1rem;
}
#workOutAddButtonPlace{
  text-align: center;
  margin-top: 3rem;
}
.tab{
  text-decoration:none;
  text-align: center;
}
#workOutPageTitle{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
#addWorkOutPageTitle{
  text-align: center;
  padding-top: 2rem;
  padding-bottom:2rem;
  font-size: 2rem;
}
.rowRoutineWeight{
  text-align:center;
  padding-bottom:1rem;
}
.rowWorkOutPartsDate{
  text-align:center;
  padding-bottom:1rem;
}
.rowWorkOutExerciseWeightRep{
  text-align:center;
}
.workOutExerciseRep{
  width:50px;
}
.workOutExerciseWeight{
  width:60px;
  margin-right:2rem;
}
.workOutExerciseDropDown{
  width: 200px;
  margin-right: 2rem;
}
#workOutWorkOutPartDropDown{
  padding:0 0.3rem;
}

.addWorkOutDate{
  padding: 0 0.3rem;
}
.rowWorkOutVolume{
  text-align: right;
  padding-top: 2rem;
}
#exerciseAddButtonPlace{
  text-align: right;
  padding-top: 1rem;
}
#exerciseAddButton{
  padding: 0 0.3rem;
}
.updateOrRemove{
  text-align: center;
  margin-top:2.5rem;
}
#weightFoodPageTitle{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
.weightFoodWeight{
  text-align: center;
  padding-top: 2rem;
}
.weightFoodDate{
  text-align:center;
  padding-top: 1rem;
  padding-bottom:1rem;
}
.addWeightButton{
  text-align:center;
  padding-bottom:1rem;
  padding-top:1rem;
}
#caloriesGraphPlace{
  text-align:center;
}
#addFoodButton{
  text-align: right;
  padding-top: 2rem;
}

.extraFoodButton{
  text-align: center;
  padding-top:2rem;
  padding-bottom:2rem;
}
.foodNameInput{
  display:flex;
  padding-right:1rem;
  flex-direction:column;
  margin-top:1rem;
}
.signUpPlace{
  text-align: right;
  margin-top:1rem;
}
.singUp{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
}
.homeWorkOutTitle{
  text-align:center;
   padding-top:1rem;

}
#homeFoodGraphPlace{
  text-align:center;
   padding-top:1rem;
  padding-bottom:1rem;
}
#homeWorkOutPartDropDown{
  text-align:center;
  padding-top:1rem;
  padding-bottom:1rem;
}
.foodFoodDateButton{
  padding-top:1rem;
}
.addWorkOut{
  border:1px rgb(40,127,62) solid;
  padding:1rem;
  box-shadow: 1rem;
  background-color:rgb(40,127,62);
  color:white;
}
#workOutAdd{
  border:1px rgb(40,127,62);
  padding:1rem;
  box-shadow: 1rem;
  background-color:rgb(40,127,62);
  color:white;

}
.container{
  text-align:center;
  padding-top:2rem;
  padding-bottom: 20rem;

}
.demoButton{
  margin-top:1rem;
  border:1px solid rgb(40,127,62);
  color:white;
  background-color:rgb(40,127,62);
  padding:1rem;
}
.demoButtonPlace{
  padding-top:2rem;
}
.newExerciseName{
  width: 200px;
  margin-right: 2rem;
}
.newExerciseWeight{
  width: 60px;
  margin-right: 2rem;
}
.newExerciseReps{
  width: 50px;
}
.saveFoodsButton{
  border: 1px solid;
  background-color:rgb(40,127,62);
  color:white;
  padding:1rem;
}

.linegraph2{
  width:100%;
  margin:0 auto;
}
.linegraph3{
  width:100%;
  margin:0 auto;
}
.linegraph4{
  width:100%;
  margin:0 auto;
}
.linegraph5{
  width:100%;
  margin:0 auto;
}
#dateForm{
  text-align: center;
  padding-top: 3rem;
}
.submitWorkOut{
  padding-top: 3rem;
  text-align: center;
}
.rowWorkOutVolume{
  text-align:center;
}

#exerciseAddButtonPlace{
  text-align:center;
}
.addOrRemove{
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.newAddOrRemove{
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.removeButton{
  margin-right:2rem;
  color:red;
  padding: 0 0.3rem;
}
.foodRemoveButton{
  margin-right:2rem;
  color:red;

}
.foodCalories{
  display:flex;
  justify-content:center;
  text-align: left;
}
.rowNumber{
  padding-bottom: 1rem;
  padding-top:1rem;
}
.addWorkOutInputField{
  display: flex;
  justify-content: space-between;
}
.addWorkOutName{
  display:flex;
  flex-direction:column;
  text-align:left;
}
.addWorkOutWeight{
  display:flex;
  flex-direction:column;
  text-align: left;
  position:relative;
  left:-2rem;
}
.addWorkOutReps{
  display:flex;
  flex-direction:column;
  text-align: left;
  position:relative;
  left:-4.4rem;
}
.newRemoveButton{
  color:red;
  padding: 0 0.3rem;
}
.previousWorkOutInputField{
  display:flex;
  justify-content: space-between;
}

.previousWorkOutName{
  display:flex;
  flex-direction:column;
  text-align: left;
}

.previousWorkOutWeight{
  display:flex;
  flex-direction:column;
  text-align: left;
}
.previousWorkOutReps{
  display:flex;
  flex-direction:column;
  text-align:left;
}
.foodCaloriesEntries{
  text-align:center;
  justify-content:center;
  margin:auto;
  padding-top:1rem;
}
.rowExerciseWeightRep{
  width:95%;
  margin:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.submitFood{
  text-align: center
}
.foodSelectDateButton{
  color:blue;
}
.demoSignUpButtonPlace{
  padding-top:3rem;
}
.demoSignUpButton{
  border: 1px solid;
  padding: 1rem;
  color: white;
  background-color: rgb(40,127,62);
}
.signInPage{
  text-align:center;
}
.submitButton{
  padding-top:1rem;
}
@media only screen and (max-width:675px) {
  .newExerciseName{
    margin-right:1rem;
    width:5rem;
  }
  .workOutExerciseDropDown{
    margin-right:1rem;
    width:5rem;
  }
  .foodCalories{
    display:block;
  }
  .updateButton{
    margin-right:2rem;
  }

  .addWorkOutReps{
    left:-0.5rem;
  }
  .addWorkOutWeight{
    left:-0.3rem;
  }
  .newRemoveButton{
    position:relative;
    left:-1rem;
  }
  .newAddOrRemove{
    padding-top:1.2rem;
    position: relative;
    left: 0.3rem;
  }
  .addWorkOutInputField{
    font-size:0.8rem;
  }
  .rowExerciseWeightRep{
    font-size: 0.8rem
  }
  .addOrRemove{
    padding-top:1.2rem;
  }

}
