.material-icons.md-60{
font-size:60px;
}
#navBarContainer{
  display:flex;
  justify-content: space-evenly;
}
#navBarText{
  text-align: center;
}

#workOutPartsDropDown{
  width: 200px;
  height: 40px;

}
#homeWorkOutPartsDropDown{
  padding-top: 2rem;
  text-align: center;
}
#workOutGraphPlace{
  padding-top: 1rem;
  text-align: center;
}
#workOutGraph{
  border:1px solid black;
  width: 250px;
}
#homeWeightGraphPlace{
  text-align: center;
  padding-top: 1rem;
}
#workOutAddButtonPlace{
  text-align: right;
}
#workOutAdd{
  width: 70px;
  height: 40px;
}
.tab{
  text-decoration:none;
  text-align: center;
}
#workOutPageTitle{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
#addWorkOutPageTitle{
  text-align: center;
  padding-top: 2rem;
  padding-bottom:2rem;
  font-size: 2rem;
}
.rowRoutineWeight{
  text-align:center;
  padding-bottom:1rem;
}
.rowWorkOutPartsDate{
  text-align:center;
  padding-bottom:1rem;
}
.rowWorkOutExerciseWeightRep{
  text-align:center;
}
#workOutExerciseRep{
  width:40px;
}
#workOutExerciseWeight{
  width:60px;
  margin-right:2rem;
}
#workOutExerciseDropDown{
  width: 200px;
  margin-right: 2rem;
}
.rowWorkOutVolume{
  text-align: right;
  padding-top: 2rem;
}
#exerciseAddButtonPlace{
  text-align: right;
  padding-top: 1rem;
}
.addOrRemove{
  text-align: right;
}
