*{
  font-family: 'Montserrat', sans-serif;
  color:rgb(40,127,62);
  background-color:white;
  text-decoration: none;
  margin:0;
  padding:0;

}
html{
  background-color:darkgray
}

#root{
  background-color:darkgray;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.caloriesInput{
  margin-top:1rem;
}
.workOutDateButton{
  color:blue
}
.material-icons.md-60{
  font-size:60px;
}
#navBarContainer{
  display:flex;
  justify-content: space-evenly;
}
#navBarText{
  text-align: center;
}

#workOutPartsDropDown{
  width: 200px;
  height: 40px;
}
#homeWorkOutPartsDropDown{
  padding-top: 2rem;
  text-align: center;
}
#workOutGraphPlace{
  padding-top: 1rem;
  text-align: center;
}
#workOutGraph{
  border:1px solid black;
  width: 250px;
}
#homeWeightGraphPlace{
  text-align: center;
  padding-top: 1rem;
}
#workOutAddButtonPlace{
  text-align: center;
  margin-top: 3rem;
}
.tab{
  text-decoration:none;
  text-align: center;
}
#workOutPageTitle{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
#addWorkOutPageTitle{
  text-align: center;
  padding-top: 2rem;
  padding-bottom:2rem;
  font-size: 2rem;
}
.rowRoutineWeight{
  text-align:center;
  padding-bottom:1rem;
}
.rowWorkOutPartsDate{
  text-align:center;
  padding-bottom:1rem;
}
.rowWorkOutExerciseWeightRep{
  text-align:center;
}
.workOutExerciseRep{
  width:40px;
}
.workOutExerciseWeight{
  width:60px;
  margin-right:2rem;
}
.workOutExerciseDropDown{
  width: 200px;
  margin-right: 2rem;
}
.rowWorkOutVolume{
  text-align: right;
  padding-top: 2rem;
}
#exerciseAddButtonPlace{
  text-align: right;
  padding-top: 1rem;
}
.updateOrRemove{
  text-align: right;
  margin-top:1rem;
}
#weightFoodPageTitle{
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}
.weightFoodWeight{
  text-align: center;
  padding-top: 2rem;
}
.weightFoodDate{
  text-align:center;
  padding-top: 1rem;
  padding-bottom:1rem;
}
.addWeightButton{
  text-align:center;
  padding-bottom:1rem;
  padding-top:1rem;
}
#caloriesGraphPlace{
  text-align:center;
}
#addFoodButton{
  text-align: right;
  padding-top: 2rem;
}

.extraFoodButton{
  text-align: right;
  padding-top:1rem;
  padding-bottom:2rem;
}
.foodNameInput{
  text-align:center;
  margin-top:1rem;
}
.signUpPlace{
  text-align: right;
  margin-top:1rem;
}
.singUp{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
}
.homeWorkOutTitle{
  text-align:center;
   padding-top:1rem;

}
#homeFoodGraphPlace{
  text-align:center;
   padding-top:1rem;
  padding-bottom:1rem;
}
#homeWorkOutPartDropDown{
  text-align:center;
  padding-top:1rem;
  padding-bottom:1rem;
}
.foodFoodDateButton{
  padding-top:1rem;
}
.addWorkOut{
  border:1px rgb(40,127,62) solid;
  padding:1rem;
  box-shadow: 1rem;
  background-color:rgb(40,127,62);
  color:white;
}
#workOutAdd{
  border:1px rgb(40,127,62);
  padding:1rem;
  box-shadow: 1rem;
  background-color:rgb(40,127,62);
  color:white;

}
.container{
  text-align:center;
  padding-top:2rem;
  padding-bottom: 20rem;

}
.demoButton{
  margin-top:1rem;
  border:1px solid rgb(40,127,62);
  color:white;
  background-color:rgb(40,127,62);
  padding:1rem;
}
.demoButtonPlace{
  padding-top:2rem;
}
.newExerciseName{
  width: 200px;
  margin-right: 2rem;

}
.newExerciseWeight{
  width: 60px;
  margin-right: 2rem;

}
.newExerciseReps{
  width: 40px;
}
.saveFoodsButton{
  border: 1px solid;
  background-color:rgb(40,127,62);
  color:white;
  padding:1rem;
}

.linegraph2{
  width:100%;
  margin:0 auto;
}
.linegraph3{
  width:100%;
  margin:0 auto;
}
.linegraph4{
  width:100%;
  margin:0 auto;
}
.linegraph5{
  width:100%;
  margin:0 auto;
}
#dateForm{
  text-align: center;
  padding-top: 3rem;
}
.submitWorkOut{
  padding-top: 3rem;
  text-align: center;
}
.rowWorkOutVolume{
  text-align:center;
}

#exerciseAddButtonPlace{
  text-align:center;
}
.addOrRemove{
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.removeButton{
  margin-right:2rem;
  color:red;
}

.rowNumber{
  padding-bottom: 1rem;
  padding-top:1rem;
}
.addWorkOutInputField{
  display: flex;
  justify-content: space-evenly;
}
.addWorkOutName{
  display:flex;
  flex-direction:column;
  text-align:left;
}
.addWorkOutWeight{
  display:flex;
  flex-direction:column;
  text-align: left
}
.addWorkOutReps{
  display:flex;
  flex-direction:column;
  text-align: left
}

.previousWorkOutInputField{
  display:flex;
  justify-content: space-evenly;
}

.previousWorkOutName{
  display:flex;
  flex-direction:column;
}

.previousWorkOutWeight{
  display:flex;
  flex-direction:column;
}
.previousWorkOutReps{
  display:flex;
  flex-direction:column;
}
.foodCaloriesEntries{
  text-align:center;
  margin:auto;
}
.rowExerciseWeightRep{
  width:95%;
  margin:auto;
}
.submitFood{
  text-align: center
}
.demoSignUpButtonPlace{
  padding-top:3rem;
}
.demoSignUpButton{
  border: 1px solid;
  padding: 1rem;
  color: white;
  background-color: rgb(40,127,62);
}
.signInPage{
  text-align:center;
}
.submitButton{
  padding-top:1rem;
}
@media only screen and (max-width:420px) {
  .newExerciseName{
    margin-right:1rem;
    width:5rem;
  }
  .workOutExerciseDropDown{
    margin-right:1rem;
    width:7rem;
  }
}
